/* 変数を格納する */
/* 例) $mainYellowColor: #FFEC00;   #FFEC00という色をmainYellowColorという変数名で定義する */

/****************************************
*               color格納                *
*****************************************/
$white: #fff;
$sideUserBackColor: #253141;
$sideGroupBackColor: #2f3e51;
$mainBackColor: #fafafa;
$mainToppopColor: #38AEF0;

/****************************************
*               fontサイズ格納            *
*****************************************/
$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;


