/チャット画面でどの表示でも適応しているため部分テンプレートとして抜粋
.chat-side
  .side-header
    %p.side-header__user-name ユーザー
    %ul.user-menu
      %li.user-menu__edit-user
        /= link_to new_group_path do
        %i.fa.fa-pencil-square-o
      %li.user-menu__new-group
        /= link_to edit_group_path do  段落上げているの注意忘れないように
        %i.fa.fa-cog
  .groups
    /= link_to group_messeage_index_path do
    .group
      %p.group__group-name
        グループ名1
      %p.group__latest-message
        最新メッセージ1
    .group
      %p.group__group-name
        グループ名2
      %p.group__latest-message
        新着メッセージ2