.chat-side{
  box-sizing: border-box;
  color: $white;
  width: 300px;
  .side-header{
    background-color: $sideUserBackColor;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__user-name{
      float: left;
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    .user-menu{
      display: inline-block;
      float: right;
      &__edit-user{
        display: inline-block;
      }
      &__new-group{
        display: inline-block;
      }
    }
  }
  .groups{
    background-color: $sideGroupBackColor;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group{
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__group-name{
        font-size: $side_group_name;
      }
      &__latest-message{
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}